<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ships</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th><abbr title="class">Class</abbr></th>

                <th><abbr title="year-built">Year Built</abbr></th>

                <th><abbr title="home-port">Home Port</abbr></th>

                <th><abbr title="name">Name</abbr></th>

                <th><abbr title="type">Type</abbr></th>
            </tr>
        </thead>
        <tbody>
            <% ships.forEach(function(ship) { %>
                <tr>
                    <td>
                        <%= ship.class %>
                    </td>
                    <td>
                        <%= ship.year_built %>
                    </td>
                    <td>
                        <%= ship.home_port %>
                    </td>
                    <td>
                        <%= ship.name %>
                    </td>
                    <td>
                        <%= ship.type %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

</body>

</html>